﻿@model Core.Objects.ObjUser
@{
    ViewData["Title"] = "Добавление нового пользователя";
}

<h2>Добавление нового пользователя</h2>
<form asp-action="create" asp-controller="Home">
    <div class="form-group">
        <label asp-for="Surname" class="control-label">Фамилия</label>
        <input type="text" asp-for="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label">Телефон</label>
        <input type="text" asp-for="Phone" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Почта</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn-primary" />
    </div>
</form>
