﻿@model Core.Objects.ObjUser
@{
    ViewData["Title"] = "Редактирование пользователя";
}

<h2>Редактирование пользователя</h2>
<form asp-action="edit" asp-controller="Home" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Surname" class="control-label">Фамилия</label>
        <input type="text" asp-for="Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label">Телефон</label>
        <input type="text" asp-for="Phone" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Почта</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Редактировать" class="btn-primary" />
    </div>
</form>
