﻿@model Core.Objects.ObjUserList
@{
    ViewData["Title"] = "Пользователи";
}

<h2>Пользователи</h2>
<a class="btn-primary" href="@Url.Action("Create", "Home")">
    <span class="nav-label">Добавить</span>
</a>
<table class="user-table">
    <tr class="tr-bold"><td>Фамилия</td><td>Имя</td><td>Телефон</td><td>Почта</td><td></td></tr>
    @{ foreach (var item in Model.item)
        {
    <tr>
        <td>@item.Surname</td>
        <td>@item.Name</td>
        <td>@item.Phone</td>
        <td>@item.Email</td>
        <td><a href="home/edit/@item.Id">Редактировать</a></td>
    </tr>

        }
    }
</table>